---
import { Image } from 'astro:assets'

import { FileText, Mail } from 'lucide-react'

import { githubAccessToken } from '../constants/accessToken'
import { getLangFromUrl, useTranslations } from '../i18n/utils'

import Skills from './Skills.astro'

import CV from '../images/cv-sidnei-farias-junior.pdf'
import profile from '../images/intro/profile.jpg'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

type DataTypes = {
  login: string
  id: number
  node_id: string
  avatar_url: string
  gravatar_id: string
  url: string
  html_url: string
  followers_url: string
  following_url: string
  gists_url: string
  starred_url: string
  subscriptions_url: string
  organizations_url: string
  repos_url: string
  events_url: string
  received_events_url: string
  type: string
  site_admin: boolean
  name: string
  company: null
  blog: string
  location: string
  email: null
  hireable: boolean
  bio: string
  twitter_username: null
  public_repos: number
  public_gists: number
  followers: number
  following: number
  created_at: Date
  updated_at: Date
}

const userData: DataTypes = await fetch(import.meta.env.PUBLIC_USER_API, {
  headers: {
    authorization: `token ${githubAccessToken}`,
  },
}).then((res) => res.json())
---

<div
  class="max-w-[656px] m-auto flex flex-1 items-center justify-center flex-col"
>
  <div
    class="w-full border-b pb-6 flex flex-col items-center gap-7 sm:flex-row sm:items-start"
  >
    <Image
      width={128}
      height={128}
      class="rounded-full h-32 w-32"
      src={profile}
      alt={userData?.name}
    />

    <div class="max-w-[520px] flex flex-col gap-6">
      <p class="w-full text-base md:text-lg text-white">
        {
          t('intro.main').replace(
            '<strong>{userData?.name}</strong>',
            `${userData?.name}`
          )
        }
      </p>

      <p class="w-full text-base md:text-lg text-white">
        {
          t('intro.sub').replace(
            '<strong>{userData?.location}</strong>',
            `${userData?.location}`
          )
        }
      </p>
    </div>
  </div>

  <Skills />

  <div class="flex gap-4">
    <a
      href={CV}
      target="_blank"
      class="min-h-10 font-bold uppercase text-white text-center bg-blue rounded-md py-1 px-4 flex justify-center items-center gap-2 transition bg-green-550 placeholder:text-white placeholder:opacity-50 hover:border-white hover:text-white focus:text-white"
    >
      <FileText className="text-white" />
      Currículo</a
    >

    <a
      href="/contact"
      title="Email"
      class="min-h-10 font-bold uppercase text-white text-center border border-white rounded-md py-1 px-4 flex justify-center items-center gap-2 transition placeholder:text-white placeholder:opacity-50 hover:border-white hover:text-white focus:text-white"
    >
      <Mail className="text-white" />
      Contato</a
    >
  </div>
</div>
