---
import { githubAccessToken } from '../constants/accessToken'

import { Image } from 'astro:assets'

import profile from '../images/intro/profile.jpg'

import Skills from './Skills.astro'

import { getLangFromUrl, useTranslations } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

type DataTypes = {
  login: string
  id: number
  node_id: string
  avatar_url: string
  gravatar_id: string
  url: string
  html_url: string
  followers_url: string
  following_url: string
  gists_url: string
  starred_url: string
  subscriptions_url: string
  organizations_url: string
  repos_url: string
  events_url: string
  received_events_url: string
  type: string
  site_admin: boolean
  name: string
  company: null
  blog: string
  location: string
  email: null
  hireable: boolean
  bio: string
  twitter_username: null
  public_repos: number
  public_gists: number
  followers: number
  following: number
  created_at: Date
  updated_at: Date
}

const userData: DataTypes = await fetch(import.meta.env.PUBLIC_USER_API, {
  headers: {
    authorization: `token ${githubAccessToken}`,
  },
}).then((res) => res.json())
---

<div
  class="max-w-[656px] m-auto flex flex-1 items-center justify-center flex-col"
>
  <div class="border-b pb-6 flex gap-7">
    <Image
      width={128}
      height={128}
      class="rounded-full h-32 w-32"
      src={profile}
      alt={userData?.name}
    />

    <div class="max-w-[520px] flex flex-col gap-6">
      <p class="w-full text-lg text-white">
        {
          t('intro.main').replace(
            '<strong>{userData?.name}</strong>',
            `${userData?.name}`
          )
        }
      </p>

      <p class="w-full text-lg text-white">
        {
          t('intro.sub').replace(
            '<strong>{userData?.location}</strong>',
            `${userData?.location}`
          )
        }
      </p>
    </div>
  </div>

  <Skills />
</div>
